// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.content{
    padding: 12px;
}
img{
    width: 75%;
}
.picture{
    width: 30%;
    margin: 0 auto;
}